.questionnaireWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.content {
    background: #fff;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.formHeading {
    text-align: right;
    font-weight: bold;
    padding: 10px 20px;
}

.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.surveyTitle {
    font-weight: bold;
}

.errorMessage {
    font-size: 12px;
    color: red;
    margin-top: 10px;
}
.questionWrapper {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.query {
    font-weight: 600;
}
.answerSection {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.answerOption {
    padding: 5px;
    border: 1px solid #8f8f8f;
    text-align: center;
    min-width: 80px;
    border-radius: 20px;
    color: #8f8f8f;
}
.answerOption:hover, .answerOption.active {
    border-color: #F99250;
    background: #fef0e6;
}

.answerOption:focus {
    outline: none;
}

.closeButton {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.submitSectionWrapper {
    padding: 25px 10px;
    border-top: 1px solid #e1e1e1;
    margin-top: 40px;
}
.submitSectionWrapper button {
    width: 100%;
    background: #0391ea;
    padding: 8px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
}
.submitSectionWrapper button:hover {
    background: #1f3dde;
}
.submitSectionWrapper button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
